
<div class="span3">
  <h1>CuratedBy</h1>
  <em>Find the Art You Want</em>
 <br/>
</div>

<div class="span9">
	<%= image_tag('jowoffinden7.jpg')%>
  
</div>

 <a class='btn btn-inverse btn-large' href='/arts'>Browse Art</a>
<div>